# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2026 Hirosh Dabui <hirosh@dabui.de>

config BOARD_KIANV_ASIC
	select SOC_KIANV_RV32IMA
	select SERIAL_HAS_DRIVER
	select SERIAL_SUPPORT_INTERRUPT
